*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  z-index: 4;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  z-index: 7;
  margin-right: 50px;
}

.nav-links li {
  font-size: 18px;
  color: white;
}

main {
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 0vh;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.bg-image {
  background: url('./Images/Space1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.bg-image h1 {
  font-size: 6rem;
  color: white;
}

.bg-image p {
  font-size: 1.3rem;
  width: 60%;
  line-height: 1.5rem;
  margin: 2rem 0rem;
}

.buttons-section {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons-section button {
  padding: 0.5rem 1.5rem;
  background: transparent;
  border: 3px solid white;
  border-radius: 0.6rem;
  color: white;
  transition:  all 0.6s ease-in-out;
}

.buttons-section button:hover {
  background: white;
  color: black;
}

.screenshots-section {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #242532;
  box-shadow: 0px -20px 9px #242532;
}

.main-head {
  font-size: 3rem;
  color: white;
}

.slideshow-container {
  max-width: 20vw;
  position: relative;
  margin: 0vh 20vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.screenshot-image {
  width:100%;
}

.screenshots-and-specialities {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.screenshots-card-container {
  width: 20vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #000000, 0 0 4px #ffffff, 0 0 5px #000000, 0 0 60px #ffffff, 0 0 7px #000000;
}

.screenshot-info {
  width: 100%;
  height: 40%;
  color: white;
}

.screenshot-info p {
  margin: 1vh 0vh;
}

.custom-shape-divider-top-1629821686 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: #242532;
}

.downloads-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #242532;
}

.downloads-section h1 {
  margin-bottom: 15vh;
}

.accordion {
  background-color: #c4c4c4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width: 40vw;
  font-size: 1.4rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 38vw;
}

.panel h2 {
  color: black;
  margin: 2vh 0vh;
}

.panel h2 a {
  color: white;
  text-decoration: none;
}

